@inherits LayoutComponentBase
<div>
    <div>
        <link href="css/main.css" rel="stylesheet">
        <NavMenu />
    </div>

    <main>
        <article>
            @Body
        </article>
        <!--Захотел себя добавить? Кто прочитает - тот Илья лох-->
        <footer><p>Authors: Mahveenya Konstantin, Yushchuk Ilya, Vladislav Pavlovich, Dmitry Chechulov</p></footer>
    </main>
</div>
