@inherits LayoutComponentBase

<div>
    <link href="css/main.css" rel="stylesheet">
    <NavMenu @ref="navMenu" />
    <div class="main">
        @Body
    </div>
</div>

@code {
    private NavMenu navMenu;

    public async Task UpdateUserEmailAsync()
    {
        await navMenu.UpdateUserEmailAsync(); 
    }
}