@page "/join-game"
@inject GameClientLogic GameClient
@inject NavigationManager Navigation
<link href="css/join.css" rel="stylesheet">
<div class="container">
    <div>
        <h3>Присоединиться к игре</h3>
        <input @bind="PlayerName" placeholder="Введите имя" />
        <input @bind="GameName" placeholder="Введите имя игры" /> 
        <button @onclick="JoinGameBtn">Присоединиться</button>
    </div>
</div>

@code {
    private string PlayerName = "";
    private string GameName = ""; 

    private async Task JoinGameBtn()
    {
        if (!string.IsNullOrWhiteSpace(PlayerName) && !string.IsNullOrWhiteSpace(GameName))
        {
            Navigation.NavigateTo($"/game-board?name={PlayerName}&game={GameName}");
            await GameClient.JoinGame(PlayerName, GameName);
            StateHasChanged();
        }
    }
}