@page "/join-game"
@inject GameClientLogic GameClient
@inject NavigationManager Navigation

<link href="css/join.css" rel="stylesheet">

<div class="container">
    <div>
        <h3>Присоединиться к игре</h3>
        <input @bind="PlayerName" placeholder="Введите имя" />
        <button @onclick="JoinGameBtn">Присоединиться</button>
    </div>
</div>

@code {
    private string PlayerName = "";

    private async Task JoinGameBtn()
    {
        //await Task.Main( () => Console.WriteLine("qwerty2"));
        if (!string.IsNullOrWhiteSpace(PlayerName))
        {
            //Console.WriteLine("qwerty3");
            Navigation.NavigateTo($"/game-board?name={PlayerName}");
            await GameClient.JoinGame(PlayerName);
            //await GameClientLogic.PlayersListAskAsync();
            StateHasChanged();
            // Console.WriteLine("qwerty");
            // Console.WriteLine(PlayerName);

        }
        //return Task.CompletedTask;
    }
}
